parameters:
    tmpDir: .phpstan
    bootstrapFiles:
        - vendor/autoload.php
    level: max
    paths:
        - src
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
