html {
    background: #0c2837;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0c2837), color-stop(100%, #17384c));
    background: -webkit-linear-gradient(top, #0c2837 0%, #17384c 100%);
    background: -moz-linear-gradient(top, #0c2837 0%, #17384c 100%);
    background: -ms-linear-gradient(top, #0c2837 0%, #17384c 100%);
    background: -o-linear-gradient(top, #0c2837 0%, #17384c 100%);
    background: linear-gradient(to bottom, #0c2837 0%, #17384c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c2837', endColorstr='#17384c', GradientType=0);
    background-attachment: fixed;
}

h3 {
    width: 100%;
}

p {
    width: 100%;
}

*, a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, 0.9);
}

code {
    background: rgba(0, 0, 0, 0.1);
    color: #606c76;
    font-size: 1.2em;
}

.loader {
    font-size: 10px;
    margin: 47px auto;
    text-indent: -9999em;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: #0c2837;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.cache-clear {
    position: absolute;
    top: 0;
    right: 0;
}

.cache-clear svg {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}

.cache-clear.refresh svg {
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.container {
    max-width: 130rem;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

.group-title {
    border-bottom: thin solid rgba(255, 255, 255, 0.2);
    width: 100%;
    padding-bottom: 10px;
    margin-top: 50px;
}

.group-title.first {
    margin-top: 0;
}

.card {
    padding: 0;
    margin: 1%;
    width: 31%;
    background: #0c2837;
    border-radius: 7px;
    border: thin solid rgba(255, 255, 255, 0.1);
}

.card .title {
    padding: 10px;
    margin: 0;
    border-bottom: thin solid rgba(255, 255, 255, 0.1);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: #17384c;
    font-weight: bold;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .error {
    background: url('../img/error.png') no-repeat top left;
    background-size: contain;
    padding-left: 35px;
}

.card .card-content {
    padding: 10px;
    font-size: 14px;
}

.card .card-content a, .card .card-content span {
    display: inline-block;
    max-width: 92%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .card-content svg {
    display: inline-block;
    font-size: 12pt;
    margin: 0 5px 4px 0;
}

.card .card-footer {
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
    border-top: thin solid rgba(255, 255, 255, 0.2);
}

.card .card-footer .workflow {
    line-height: 35px;
}

.card .card-footer .workflow .name {
    width: 29%;
    display: inline-block;
    text-align: right;
    padding-right: 1%;
    font-size: 0.9em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.card .card-footer .workflow .runs {
    width: 69%;
    display: inline-block;
    overflow-x: hidden;
}

.card .card-footer a {
    margin: 0 2px;
}

.card .card-footer svg {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    opacity: 0.7;
}

.card .card-footer svg.success {
    fill: #3fb950;
}

.card .card-footer svg.failure,
.card .card-footer svg.cancelled,
.card .card-footer svg.skipped {
    fill: #f85149;
}

.card .card-footer svg.anim-rotate {
    animation: rotation 1s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

.card .card-footer svg.active {
    transform: scale(1.5);
    margin-left: 3px;
    opacity: 1;
}
